* {
  padding: 0;
}

.header {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  margin-left: 10px;
}

.menu-icon {
  width: hug (40px);
  height: hug (40px);
  top: 4px;
  left: 311px;
  padding: 8px;
  border-radius: 8px;
}
